.allCard{
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
}

.cargandoDetalle{
    margin: 200px;
}

.imageDetail{
    width: 680px;
    height: 380px;
    float: left;
    margin: 12px;
    border-radius: 5px;
}

.descripcion{
    margin: 10px;
    margin-bottom: 20px;
}

.botonVolver{
    color: #fff;
    border-radius: 10px;
    background-color:  rgb(141, 49, 153);
    font-size: 16px;
    border: none;
}
.botonVolver:hover{
    background-color: rgb(47, 119, 202);
}
/* 
.botonDelete{
     color: #fff;
     background-color: rgba(59, 59, 59, 0.80);
     border: none;
     border-radius: 6px;
     font-size: 14px;
     margin-left: 722px;
     margin-bottom: 20px;
}
.botonDelete:hover{
    font-size: 15px;
    background-color:  rgba(129, 129, 129, 0.63);
} */

.loading{
    margin-top: 120px;
    height: 100%;
    width: 100%;
}