a:link {
  text-decoration: none;
}

.container_card {
  border-radius: 8px;
  border: solid 2px rgba(17, 160, 243, 0.9);
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.60);
  width: 315px;
  height: 415px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.container_card:hover {
  transition: 0.5s;
  background-color: black;
  border: solid 2px rgba(202, 29, 145, 0.9);
}

.card_name {
  font-size: 16px;
  margin-bottom: 1.5rem;
}
.card_name:hover {
  font-size: 17px;
  color: rgba(202, 29, 145, 0.9);
  transition: 0.7s;
}

.card_image {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

.card_genres_title {
  font-size: 18px;
}

.card_genre_type {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}