.create {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.400); 
}

.botonVolver{
    margin-top: 15px;
    border: none;
}

.botonCrear{
    border-radius: 15px;
    font-size: 20px;
    margin: 24px;
    background-color: rgb(47, 119, 202);
    color: #fff;
    margin-bottom: 400px;
    border: none;
}
.botonCrear:hover{
    color: #fff;
    background-color: rgb(141, 49, 153);
    font-size: 21px;
    transition: 0.5s;
}

.botonX {
    font-family: "Arial Black", Gadget, sans-serif;
    height: 20px;
    font-size: 10px;
    justify-content: center;
    transition: 0.5s;
    background-color:  rgba(59, 59, 59, 0.80);
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    margin-left: 3px;
    border: solid white 0.5px;
}
.botonX:hover{
    color:#fff;
    background-color: #f13106;
    transition: 0.5s;
    }

.error{
    color: red;
    background-color: rgba(255, 255, 255, 0.700);
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.errores{
    margin-top: 18px;
}

.selectBox{
    margin: 10px 10px 0;
    background-color: rgba(59, 59, 59, 0.80);
    color: #fff;
    padding: 4px;
    font-size: 14px;
}

.cajitaElemento{
    display: inline-block;    
    color: rgb(255, 255, 255);     
    margin: 5px;    
}

.inputs{
    margin: 20px;
}

.inputName{
    color:#fff;
    background-color: rgba(59, 59, 59, 0.80);
    text-decoration: none;
    border: 0;
    font-size: 16px;
    margin: 5px
}
.inputDescription{
    color:#fff;
    background-color: rgba(59, 59, 59, 0.80);
    text-decoration: none;
    border: 0;
    font-size: 16px;
    margin: 5px
}
.inputReleased{
    color:#fff;
    background-color: rgba(59, 59, 59, 0.80);
    text-decoration: none;
    border: 0;
    font-size: 16px;
    margin: 5px
}
.inputImage{
    color:#fff;
    background-color: rgba(59, 59, 59, 0.80);
    text-decoration: none;
    border: 0;
    font-size: 16px;
    margin: 5px
    
}
.labelRating{
    background-color: rgba(0, 0, 0, 0.80);
    font-size: 18px;
}
.inputRating{
    color:#fff;
    background-color: rgba(59, 59, 59, 0.80);
    text-decoration: none;
    border: 0;
    font-size: 16px;
    margin-right: 53px;
    margin-bottom: 20px;
    margin: 5px
}