.landing {
    color: #fff;
}

.landingh1 {
    padding-top: 150px;
}

.boton {
    background-color: rgb(141, 49, 153);
    color: #fff;
    font-size: 20px;
}
.boton:hover {
    color: #fff;
    background-color: rgb(47, 119, 202);
}