.search{
    margin-bottom: 20px;
}

.input{
    color:#fff;
    background-color: rgba(59, 59, 59, 0.80);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: solid 1px #fff;
}

.botonBuscar{
    color: #fff;
    background-color: rgba(153, 49, 136, 0.600);
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 5px;
    border: none;
}
.botonBuscar:hover{
    background-color:    rgba(47, 119, 202, 0.600);
    color: #fff;
    transition: 0.6s;
}

.errorSearch{
    color: red;
    background-color: #fff;
}